<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <style>
    .message {
      max-width: 75%;
    }

    .message-date {
      font-size: 0.75rem;
      color: gray;
    }

    html,
    body {
      height: 100%;
      overflow: hidden;
    }
  </style>
</head>

<body class="vh-100 d-flex flex-column m-0 bg-dark">
  <div class="container-fluid d-flex flex-column p-0">
    <div class="row flex-grow-1 no-gutters">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div id="group" class="col-lg-3 d-lg-flex d-none flex-column border-right p-0">
            <div
              class="card-header-group p-2 bg-dark text-warning d-flex justify-content-between align-items-center border-bottom">
              <span><b>Welcome</b>, {{ username }}</span>
              <form action="/logout" method="POST">
                <button type="submit" class="btn p-0 text-warning">
                  Logout <i class="bi bi-door-open"></i>
                </button>
              </form>
              <button class="btn bg-dark text-warning border-0 ms-2 d-flex align-items-center"
                onclick="copyOTP('{{otp}}')"><b>OTP</b></button>
            </div>
            {% if session.username == 'admin' %}
            <div class="d-flex align-items-stretch border-bottom">
              <form action="/add-group" method="POST" class="d-flex w-100">
                <input type="text" name="groupname" placeholder="Enter group name" class="form-control me-3 flex-grow-1"
                  required>
                <button type="submit" class="btn bg-dark text-warning border-0 ms-2 d-flex align-items-center">
                  Add
                </button>
              </form>
            </div>
            {% endif %}
            <div class="list-group overflow-auto flex-grow-1 bg-dark">
              {% for group in groups %}
              <div class="d-flex align-items-stretch border-bottom">
                <a href="#"
                  class="list-group-item list-group-item-action group-link bg-dark text-white flex-grow-1 border-0"
                  data-group-name="{{ group.groupname }}">
                  {{ group["groupname"] }}</a>
                <button class="btn bg-dark text-warning border-0 ms-2 d-flex align-items-center"
                  data-group-name="{{ group.sharelink }}"
                  onclick="shareGroup('{{ group.sharelink }}', '{{group.groupname}}')"><b>Share</b></button>
              </div>
              {% endfor %}
            </div>
          </div>
          <div id="message" class="col-lg-9 col-12 d-flex flex-column p-0 bg-dark">
            <div class="card flex-grow-1 d-flex flex-column mb-2 bg-dark">
              <div
                class="card-header-chat p-2 bg-dark text-white d-flex justify-content-between align-items-center border-bottom">
                <b><span id="current-chat-header" class="text-warning"></span></b>
                <button id="back-button" class="btn bg-warning text-dark d-lg-none border-0"><i
                    class="bi bi-arrow-left"></i>
                  <b>Groups</b></button>
              </div>
              <div
                class="card-header message-header bg-dark text-white d-flex justify-content-between align-items-center border-bottom mb-2">
                <form action="/update-message" class="d-flex align-items-center w-100" method="post">
                  <input name="groupmessage" id="groupmessage"
                    value="{{groupmessage if groupmessage else 'Hello everyone!'}}" maxlength="30"
                    class="bg-dark text-white border-0 flex-grow-1 focus-ring" style="outline: none;"
                    placeholder="Enter your message here" {%if session.username !='admin' %} disabled {% endif %}>
                  {% if session.username == "admin" %}
                  <button class="btn btn-warning text-dark ms-2"><b>Update</b></button>
                  <input type="hidden" name="groupname" value="{{groupname}}">
                  {% endif %}
                </form>
              </div>
              <div class="card-body p-2 d-flex flex-column overflow-auto flex-grow-1 bg-dark" id="message-container">
              </div>
              <div class="card-footer p-2 bg-dark mb-2 border-top">
                <form id="message-form">
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="message-input" placeholder="Type your message"
                      maxlength="500" name="text">
                    <div class="input-group-append">
                      <button type="submit" class="btn bg-warning text-dark border-0"><b>Send</b></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    let socket = io();

    document.addEventListener('DOMContentLoaded', () => {
      let currentChatHeader = document.getElementById("current-chat-header");
      let groupName = "{{ groupname }}";
      let username = '{{ username }}';
      if (groupName) {
        currentChatHeader.textContent = groupName;
        socket.emit('get_messages', { groupname: groupName });
      } else {
        currentChatHeader.textContent = "No Group";
      }


      let messageInput = document.getElementById('message-input');
      if (!groupName) {
        messageInput.disabled = true;
      }

      $(window).on('resize', resizeContainers);
      resizeContainers();

      $('#back-button').on('click', function (event) {
        event.preventDefault();
        $('#group').removeClass('d-none d-lg-block').addClass('d-lg-flex');
        $('#message').addClass('d-none');
      });

      $('.group-link').on('click', function (event) {
        event.preventDefault();
        const groupName = $(this).data('group-name');
        $('#current-chat-header').text(groupName);
        $('#group').addClass('d-none d-lg-block').removeClass('d-lg-flex');
        $('#message').removeClass('d-none');
        messageInput.disabled = false;
        $('#message-container').empty();
        socket.emit('get_messages', { groupname: groupName });
      });

      document.getElementById('message-form').addEventListener('submit', (event) => {
        event.preventDefault();
        const text = messageInput.value.trim();
        if (text === '') return;
        const msgData = { text: text, username: username, date: new Date() };
        socket.emit('send_message', msgData);
        messageInput.value = '';
      });

      socket.on('receive_message', (data) => {
        let messageContainer = document.getElementById('message-container');
        const messageElement = document.createElement('div');
        messageElement.classList.add('message', 'p-2', 'mb-2', 'rounded');

        const senderElement = document.createElement('span');
        senderElement.style.fontWeight = 'bold';

        if (data.username === username) {
          senderElement.innerHTML = 'me<br>';
          messageElement.classList.add('bg-warning', 'ml-auto');
        } else {
          senderElement.innerHTML = `${data.username}<br>`;
          messageElement.classList.add('bg-white', 'mr-auto');
        }

        const dateElement = document.createElement('span');
        dateElement.classList.add('message-date');
        dateElement.textContent = new Date(data.date).toLocaleString();

        const textElement = document.createElement('span');
        textElement.innerHTML = convertTextToLinks(data.text);

        messageElement.appendChild(senderElement);
        messageElement.appendChild(textElement);
        messageElement.appendChild(document.createElement('br'));
        messageElement.appendChild(dateElement);
        messageContainer.appendChild(messageElement);

        scrollToBottomFunc();
      });

      socket.on('message_list', (messages) => {
        let messageContainer = document.getElementById('message-container');
        messages.forEach((data) => {
          const messageElement = document.createElement('div');
          messageElement.classList.add('message', 'p-2', 'mb-2', 'rounded');

          const senderElement = document.createElement('span');
          senderElement.style.fontWeight = 'bold';

          if (data.username === username) {
            senderElement.innerHTML = 'me<br>';
            messageElement.classList.add('bg-warning', 'ml-auto');
          } else {
            senderElement.innerHTML = `${data.username}<br>`;
            messageElement.classList.add('bg-white', 'mr-auto');
          }

          const dateElement = document.createElement('span');
          dateElement.classList.add('message-date');
          dateElement.textContent = new Date(data.date).toLocaleString();

          const textElement = document.createElement('span');
          textElement.innerHTML = convertTextToLinks(data.text);

          messageElement.appendChild(senderElement);
          messageElement.appendChild(textElement);
          messageElement.appendChild(document.createElement('br'));
          messageElement.appendChild(dateElement);
          messageContainer.appendChild(messageElement);
        });

        scrollToBottomFunc();
      });

    });

    function resizeContainers() {
      let windowHeight = $(window).innerHeight();
      let cardHeaderHeight = $('.card-header-chat').outerHeight();
      let messageHeaderHeight = $('.message-header').outerHeight();
      let cardFooterHeight = $('.card-footer').outerHeight();
      let cardHeaderGroupHeight = $('.card-header-group').outerHeight();

      let messageContainerHeight = windowHeight - cardHeaderHeight - messageHeaderHeight - cardFooterHeight;
      let groupContainerHeight = windowHeight - cardHeaderGroupHeight;

      $('#message-container').css('height', messageContainerHeight + 'px');
      $('.list-group').css('height', groupContainerHeight + 'px');
    }

    function scrollToBottomFunc() {
      let messageContainer = document.getElementById('message-container');
      messageContainer.scrollTop = messageContainer.scrollHeight;
    }

    function shareGroup(sharelink, groupname) {
      const shareLink = `https://super-chatter.adaptable.app/groups/${encodeURIComponent(sharelink)}`;
      navigator.clipboard.writeText(shareLink).then(() => {
        alert("Share link for " + groupname + " copied to clipboard");
      }).catch(err => {
        console.error("Failed to copy link: ", err);
        alert("Failed to copy share link to clipboard.");
      });
    }

    function copyOTP(otp) {
      navigator.clipboard.writeText(otp).then(() => {
        alert("OTP copied to clipboard");
      }).catch(err => {
        console.error("Failed to copy link: ", err);
        alert("Failed to copy copy OTP to clipboard.");
      });
    }

    function convertTextToLinks(text) {
      const urlPattern = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
      return text.replace(urlPattern, '<a href="$1" target="_blank">$1</a>');
    }

  </script>
</body>

</html>